<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<table id="m_-6929414301220241201m_1864163100928748075outer" width="100%" cellspacing="0" cellpadding="28" border="0">
  <tbody>
    <tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px">
      <td align="center" width="100%" style="padding-left:0;padding-right:0;margin-top:0;margin-bottom:0;color:#000000;line-height:1.36">
        <table id="m_-6929414301220241201m_1864163100928748075wrapper" width="700" cellspacing="0" cellpadding="0" border="0">
          <tbody>
            <tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px">
              <td width="700" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36">
                <table id="m_-6929414301220241201m_1864163100928748075top" width="700" cellspacing="0" cellpadding="0" border="0" style="padding-bottom:11px">
                  <tbody>
                    <tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px">
                      <td width="150" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36">&nbsp;</td>
                      <td width="400" align="center" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36">
                        <a href="http://www2.hm.com/" class="m_-6929414301220241201m_1864163100928748075logotype-link" style="color:#000000" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://www2.hm.com/&amp;source=gmail&amp;ust=1495486341857000&amp;usg=AFQjCNFBnWO58TuJM6Uedo5cS1-kdk2cFw">
                          <img src="https://ci3.googleusercontent.com/proxy/aKHDS3kKDFi1A30tywrNN8IyzFO_0Ax5aYKmOQWN8eNiR39fJGferrzjV_-LWD6QieHoCV6TMKn6n1jTDJOvdliiUk-qTjluOmGXEsl7YA=s0-d-e1-ft#http://www2.hm.com/_ui/assets/desktop/images/logotype.png" alt="H&amp;M" title="H&amp;M" width="76" height="50" style="display:block;border:none" class="CToWUd"></a>
                      </td>
                      <td width="150" align="center" class="m_-6929414301220241201m_1864163100928748075read-in-browser" style="margin-top:0;margin-bottom:0;color:#939393;line-height:1.36;text-decoration:none;font-size:10px"></td>
                    </tr>
                  </tbody>
                </table>
                <table id="m_-6929414301220241201m_1864163100928748075header" width="700" cellspacing="0" cellpadding="0" border="0" style="border-bottom:1px solid #c8c8c8">
                  <tbody>
                    <tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px">
                      <td align="center" width="700" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36">
                        <table id="m_-6929414301220241201m_1864163100928748075header-inner" width="670" cellspacing="0" cellpadding="16" border="0" class="m_-6929414301220241201m_1864163100928748075outer" style="padding:0 0 16px 0">
                          <tbody>
                            <tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px;text-align:center;display:block">
                              <td width="90" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;display:inline-block;width:auto;padding:16px 16px 0 16px;text-align:center">
                                <a href="http://www2.hm.com/en_gb/" class="m_-6929414301220241201m_1864163100928748075header-link" style="color:#000!important;font-weight:bold;font-size:12px;text-decoration:none;letter-spacing:1px;white-space:nowrap;text-transform:uppercase" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://www2.hm.com/en_gb/&amp;source=gmail&amp;ust=1495486341857000&amp;usg=AFQjCNEHHkBgKtk87qqqa9agzwGPkM4kfg">
                                  <span style="color:#000000">LADIES</span>
                                </a>
                              </td>
                              <td width="90" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;display:inline-block;width:auto;padding:16px 16px 0 16px;text-align:center">
                                <a href="http://www2.hm.com/en_gb/" class="m_-6929414301220241201m_1864163100928748075header-link" style="color:#000!important;font-weight:bold;font-size:12px;text-decoration:none;letter-spacing:1px;white-space:nowrap;text-transform:uppercase" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://www2.hm.com/en_gb/&amp;source=gmail&amp;ust=1495486341857000&amp;usg=AFQjCNEHHkBgKtk87qqqa9agzwGPkM4kfg">
                                  <span style="color:#000000">MEN</span>
                                </a>
                              </td>
                              <td width="90" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;display:inline-block;width:auto;padding:16px 16px 0 16px;text-align:center">
                                <a href="http://www2.hm.com/en_gb/" class="m_-6929414301220241201m_1864163100928748075header-link" style="color:#000!important;font-weight:bold;font-size:12px;text-decoration:none;letter-spacing:1px;white-space:nowrap;text-transform:uppercase" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://www2.hm.com/en_gb/&amp;source=gmail&amp;ust=1495486341857000&amp;usg=AFQjCNEHHkBgKtk87qqqa9agzwGPkM4kfg">
                                  <span style="color:#000000">KIDS</span>
                                </a>
                              </td>
                              <td width="90" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;display:inline-block;width:auto;padding:16px 16px 0 16px;text-align:center">
                                <a href="http://www2.hm.com/en_gb/" class="m_-6929414301220241201m_1864163100928748075header-link" style="color:#000!important;font-weight:bold;font-size:12px;text-decoration:none;letter-spacing:1px;white-space:nowrap;text-transform:uppercase" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://www2.hm.com/en_gb/&amp;source=gmail&amp;ust=1495486341857000&amp;usg=AFQjCNEHHkBgKtk87qqqa9agzwGPkM4kfg">
                                  <span style="color:#000000">HOME</span>
                                </a>
                              </td>
                              <td width="90" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;display:inline-block;width:auto;padding:16px 16px 0 16px;text-align:center">
                                <a href="http://www2.hm.com/en_gb/" class="m_-6929414301220241201m_1864163100928748075header-link" style="color:#000!important;font-weight:bold;font-size:12px;text-decoration:none;letter-spacing:1px;white-space:nowrap;text-transform:uppercase" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://www2.hm.com/en_gb/&amp;source=gmail&amp;ust=1495486341857000&amp;usg=AFQjCNEHHkBgKtk87qqqa9agzwGPkM4kfg">
                                  <span style="color:#000000">MAGAZINE</span>
                                </a>
                              </td>
                              <td width="90" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;display:inline-block;width:auto;padding:16px 16px 0 16px;text-align:center">
                                <a href="http://www2.hm.com/en_gb/" class="m_-6929414301220241201m_1864163100928748075header-link" style="color:#000!important;font-weight:bold;font-size:12px;text-decoration:none;letter-spacing:1px;white-space:nowrap;text-transform:uppercase" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://www2.hm.com/en_gb/&amp;source=gmail&amp;ust=1495486341857000&amp;usg=AFQjCNEHHkBgKtk87qqqa9agzwGPkM4kfg">
                                  <span style="color:#000000">MY H&amp;M</span>
                                </a>
                              </td>
                              <td width="130" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;display:inline-block;width:auto;padding:16px 16px 0 16px;text-align:center">
                                <a href="http://www2.hm.com/en_gb/" class="m_-6929414301220241201m_1864163100928748075header-link" style="color:#000!important;font-weight:bold;font-size:12px;text-decoration:none;letter-spacing:1px;white-space:nowrap;text-transform:uppercase" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://www2.hm.com/en_gb/&amp;source=gmail&amp;ust=1495486341857000&amp;usg=AFQjCNEHHkBgKtk87qqqa9agzwGPkM4kfg">
                                  <span style="color:#000000">CUSTOMER SERVICE</span>
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <img src="https://ci5.googleusercontent.com/proxy/C_OExdrh9WjeQ5CQKefyxsYhpQ-4kKKgBB2qLIqpF2BhXtEtY98VAOgKtaVUsmawUlbKwzdftZ6174jcQZ3zngKXWXuGOX3NQqzG6IpG5ohZY58=s0-d-e1-ft#http://www2.hm.com/_ui/assets/shared/images/welcome_to_hm.jpg" alt="Welcome to H&amp;M" title="Welcome to H&amp;M" width="700" height="467" class="m_-6929414301220241201m_1864163100928748075intro-image CToWUd a6T" style="display:block;padding-top:20px" tabindex="0">
                <div class="a6S" dir="ltr" style="opacity: 0.01; left: 755.5px; top: 728px;">
                  <div id=":qn" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Скачать файл " data-tooltip-class="a1V" data-tooltip="Скачать">
                    <div class="aSK J-J5-Ji aYr"></div>
                  </div>
                </div>
                <table width="700" cellspacing="0" cellpadding="54" border="0">
                  <tbody>
                    <tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px">
                      <td width="700" align="center" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36">
                        <table id="m_-6929414301220241201m_1864163100928748075intro" class="m_-6929414301220241201m_1864163100928748075text" width="500" cellspacing="0" cellpadding="0" border="0">
                          <tbody>
                            <tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px">
                              <td align="center" width="500" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36">
                                <h1 class="m_-6929414301220241201m_1864163100928748075small" style="margin-top:0;margin-bottom:0;padding-bottom:11px;font-family:Arial,Helvetica,Verdana,sans-serif;font-size:26px;font-weight:bold;line-height:40px;color:#000000;text-transform:none"> <b>Welcome to H&amp;M’s world of fashion!</b>
                                  <br>
                                  <br></h1>
                                <p style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;padding-bottom:4px">
                                  Thank you for creating an account with us. Now you’re invited to a world of fashion, filled with inspiration and trend updates.
                                  <br>
                                  Remember to login every time you visit us for easy access to your customer information.
  Be sure to sign up for
                                  <a style="color:#000000" href="http://www2.hm.com/en_gb/http://www2.hm.com/en_gb/customer-service/newsletter.html" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://www2.hm.com/en_gb/http://www2.hm.com/en_gb/customer-service/newsletter.html&amp;source=gmail&amp;ust=1495486341857000&amp;usg=AFQjCNEggeu5ux82jVngBX1sIdIQoTvGPA">H&amp;M Fashion News</a>
                                  to receive exclusive
    offers, as well as the latest fashion news.
                                  <br></p>
                                <p style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;padding-bottom:4px">
                                  <br>
                                  <br>IT's GREAT TO HAVE YOU WITH US!</p>

                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>

        <table id="m_-6929414301220241201m_1864163100928748075footer" width="700" cellspacing="0" cellpadding="27" border="0" style="border-top:1px solid #c8c8c8">
          <tbody>
            <tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:10px">
              <td width="700" align="center" style="padding-bottom:0;margin-top:0;margin-bottom:0;color:#000000;line-height:1.36">
                <table class="m_-6929414301220241201m_1864163100928748075text" width="600" cellspacing="0" cellpadding="0" border="0">
                  <tbody>
                    <tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:10px">
                      <td align="center" width="600" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36">
                        <p style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;padding-bottom:21px">
                          <br>
                          Note that you cannot reply to this email. If you want to&nbsp;
                          <a style="color:#000000" href="http://www2.hm.com/en_gb/customer-service/contact.html" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://www2.hm.com/en_gb/customer-service/contact.html&amp;source=gmail&amp;ust=1495486341857000&amp;usg=AFQjCNEqA7JwiFe7gHvESkSxyd7Y7Q_vxA">contact us</a>
                          ,&nbsp;
please call us on 0344 736 9000&nbsp;
  (please check
                          <a style="color:#000000" href="http://www2.hm.com/en_gb/customer-service/contact.html" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://www2.hm.com/en_gb/customer-service/contact.html&amp;source=gmail&amp;ust=1495486341857000&amp;usg=AFQjCNEqA7JwiFe7gHvESkSxyd7Y7Q_vxA">here</a>
                          for information about call rates)&nbsp;
or send an email to&nbsp;
                          <a style="color:#000000" href="mailto:customerservice.uk@hm.com" target="_blank">Customer Service</a>
                          .&nbsp;
For more information on your orders, please log into&nbsp;
                          <a style="color:#000000" href="http://www2.hm.com/en_gb//my-account" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://www2.hm.com/en_gb//my-account&amp;source=gmail&amp;ust=1495486341857000&amp;usg=AFQjCNHY7ic6v6yVyBYg1Xx1A5W5QT_y-A">My H&amp;M</a>
                          . You always have 28 days to decide whether the item is right for you. The return fee is £0.00. For information on returns, please
                          <a style="color:#000000" href="http://www2.hm.com/en_gb/customer-service/returns.html" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://www2.hm.com/en_gb/customer-service/returns.html&amp;source=gmail&amp;ust=1495486341858000&amp;usg=AFQjCNF9CapcziA0k9Qil6ty6YjRP4qK7A">read our return and refund policy</a>
                          .&nbsp;
For more information, please read our&nbsp;
                          <a style="color:#000000" href="http://www2.hm.com/en_gb/customer-service/legal-and-privacy/privacy-link.html" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://www2.hm.com/en_gb/customer-service/legal-and-privacy/privacy-link.html&amp;source=gmail&amp;ust=1495486341858000&amp;usg=AFQjCNGv8zLYuKMCsWB32bL9ffExmo7ARQ">Privacy policy</a>
                          &nbsp;
and
                          <a style="color:#000000" href="http://www2.hm.com/en_gb/customer-service/legal-and-privacy/terms-and-conditions.html" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://www2.hm.com/en_gb/customer-service/legal-and-privacy/terms-and-conditions.html&amp;source=gmail&amp;ust=1495486341858000&amp;usg=AFQjCNFAFEzPhsZoB-YCoMCEI3BMg1cIfQ">terms and conditions</a>
                          .
                          <br>
                          <br>
                          Kind Regards, H&amp;M Customer Service
                          <br>
                          VAT number: GB243070692
                          <br>
                          Corporate identification number: 1413450
                          <br>
                          H&amp;M Hennes &amp; Mauritz UK Ltd.,&nbsp;1st Floor 25&nbsp;Argyll Street,&nbsp;W1F 7TS,&nbsp;London,&nbsp;United Kingdom,&nbsp;0344 736 9000&nbsp;
  (please check
                          <a style="color:#000000" href="http://www2.hm.com/en_gb/customer-service/contact.html" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://www2.hm.com/en_gb/customer-service/contact.html&amp;source=gmail&amp;ust=1495486341858000&amp;usg=AFQjCNFG2uIq87x6OST-39UdnHsNd3spBQ">here</a>
                          for information about call rates),&nbsp;
                          <br>
                          <a href="mailto:customerservice.uk@hm.com" target="_blank">customerservice.uk@hm.com</a>
                          <br></p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
  </body>
</html>
