<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Приветвуем  в семье HM! <%= @user.first_name%> <%= @user.second_name%></h1>
    <p>
      Вы были умпешно зарегистрированы под этим почтовым ящиком.<br>
    </p>
    <p>Спасибо, что Вы с нами =)</p>
  </body>
</html>
